{% extends "general layout.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/update&upload form.css') }}">
{% endblock %}

{% block title %}工导项目修改作品{% endblock %}

{% block content %}
{% include 'general header.html' %}

<!-- Main Area ------------------------------------------------------------ -->
<div class="form-container">
  <h3>提交/修改作品</h3>

  <form method="POST" class="main-form" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="team_name">组别名字</label>
      {{ form.team_name() }}
      {#<input type="text" name="group-name" id="group-name" placeholder="" />#}
    </div>
    <div class="form-group">
      <label for="team_description">组别简介</label>
      {{ form.team_description(placeholder="一群卷的厉害的学霸们") }}
    </div>
    <div class="form-group">
      <label for="teammates">组员名字（以逗号隔开）</label>
      {{ form.teammates(placeholder="不包含组长名") }}
    </div>
    <div class="form-group">
      <label for="project_name">作品名字</label>
      {{ form.project_name() }}
    </div>

    <div class="form-group">
      <label>作品图片（至少要有一张图在第一格）</label>
      <div class="form-pictures">
        <div class="form-picture">
          <label for="project_pic1" class="file-upload">
            {{ form.project_pic1(class="form-project-img", onchange="showPreview(this)", accept="image/*") }}
            <i class="fa fa-cloud-upload"></i> 上传
          </label>
          {% if pic_data['project_pic1'] %}
            <img src="{{ url_for('static', filename='user resources/' + pic_data['project_pic1']) }}" alt="project-img-1">
          {% else %}
            <img src="{{ url_for('static', filename='user resources/project placeholder.png') }}" alt="project-img-1">
          {% endif %}
        </div>
        <div class="form-picture">
          <label for="project_pic2" class="file-upload">
            {{ form.project_pic2(class="form-project-img", onchange="showPreview(this)", accept="image/*") }}
            <i class="fa fa-cloud-upload"></i> 上传
          </label>
          {% if pic_data['project_pic2'] %}
            <img src="{{ url_for('static', filename='user resources/' + pic_data['project_pic2']) }}" alt="project-img-2">
          {% else %}
            <img src="{{ url_for('static', filename='user resources/project placeholder.png') }}" alt="project-img-2">
          {% endif %}
        </div>
        <div class="form-picture">
          <label for="project_pic3" class="file-upload">
            {{ form.project_pic3(class="form-project-img", onchange="showPreview(this)", accept="image/*") }}
            <i class="fa fa-cloud-upload"></i> 上传
          </label>
          {% if pic_data['project_pic3'] %}
            <img src="{{ url_for('static', filename='user resources/' + pic_data['project_pic3']) }}" alt="project-img-3">
          {% else %}
            <img src="{{ url_for('static', filename='user resources/project placeholder.png') }}" alt="project-img-3">
          {% endif %}
        </div>
        <div class="form-picture">
          <label for="project_pic4" class="file-upload">
            {{ form.project_pic4(class="form-project-img", onchange="showPreview(this)", accept="image/*") }}
            <i class="fa fa-cloud-upload"></i> 上传
          </label>
          {% if pic_data['project_pic4'] %}
            <img src="{{ url_for('static', filename='user resources/' + pic_data['project_pic4']) }}" alt="project-img-4">
          {% else %}
            <img src="{{ url_for('static', filename='user resources/project placeholder.png') }}" alt="project-img-4">
          {% endif %}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="project_description">作品简介</label>
      {{ form.project_description(placeholder="让小伙伴们知道你的作品多牛", cols="30", rows="10") }}
    </div>

    <div class="form-group">
      {{ form.submit(class="form-submit-btn", value="提交") }}
    </div>
  </form>
</div>

{% include 'general footer.html' %}

<script>
  // For preview when select a picture to upload
  function showPreview(event) {
    const [file] = event.files
    if (file) {  // if file exists
      console.log(URL.createObjectURL(file));
      console.log(event);
      event.parentNode.parentNode.children[1].src = URL.createObjectURL(file);
    }
  }
</script>
{% endblock %}
