{% extends "general layout.html" %}

{% block head %}
  <script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>  <!-- Scroll out library! -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/discover.css') }}" />
{% endblock %}

{% block title %}工导项目展示{% endblock %}

{% block content %}
  {% include 'general header.html' %}
  <!-- Headers and Navbar------------------------------------------------------------ -->
  <div class="top-page">
    <img id="discover-background" src="{{ url_for('static', filename='resources/discover - background.jpg') }}" alt="background">
    <div class="top-page-shadow"></div>

    <div class="text-typewriter">
      <h1 class="text-title">开始·<b>启程</b></h1>
    </div>

    <div class="text-subtitle">
      <h3>下滑欣赏同学们的作品或提交你的作品</h3>
    </div>

    <div class="text-top-bottom">
      <h6 class="text-top-bottom-idx1"><a href="https://github.com/Kienyew/SJTU-ITE-Project-Platform">上海交通学生</a>制作</h6>
      <h6 class="text-top-bottom-idx2">关于<a href="{{ url_for('main.about') }}">我们</a></h6>
      <h6 class="text-top-bottom-idx3">2021年工导课程项目作品</h6>
    </div>
  </div>

  <!-- Gallery of photos -------------------------------------------------------------->
  <div class="box-layout-grid">
    <!-- BOX MAIN TEMPLATE -->
    <div class="box" data-scroll>
      <!-- Gonna link here to the project page -->
      <div class="box-img-main">
        <a href="#" >
          <img src="Doesn't exist" alt="picture 1">
          <!-- TODO: Maybe add image overlay and scale effect -->
        </a>
        <i class="fas fa-heart heart-vector"></i>
      </div>
      <div class="box-body">
        <a href="#" class="box-title box-text-animation">很厉害的作品名字</a>
        <div class="box-info-sub">
          <h5 class="box-teammates">黄明志，周杰伦</h5>
          <h5 class="box-date">21年4月10日</h5>
        </div>
        <div class="box-info-main">
          <div>
            <img class="box-icon-img" src="{{ url_for('static', filename='user resources/profile - 1.png') }}" alt="profile pic">
            <a class="box-teamname box-text-animation" href="#">东方不败</a>
          </div>
          <div>
            <h5 class="box-total-likes">100</h5>
            <img class="box-icon-img" src="{{ url_for('static', filename='resources/discover - heart.png') }}" alt="love icon">
          </div>
        </div>
      </div>
    </div>

    <div class="box" data-scroll>
      <!-- Gonna link here to the project page -->
      <div class="box-img-main">
        <a href="#" >
          <img src="{{ url_for('static', filename='user resources/project placeholder.png') }}" alt="picture 1">
          <!-- TODO: Maybe add image overlay and scale effect -->
        </a>
        <i class="fas fa-heart heart-vector"></i>
      </div>
      <div class="box-body">
        <a href="#" class="box-title box-text-animation">很厉害的作品名字</a>
        <div class="box-info-sub">
          <h5 class="box-teammates">黄明志，周杰伦</h5>
          <h5 class="box-date">2021年4月10日</h5>
        </div>
        <div class="box-info-main">
          <div>
            <img class="box-icon-img" src="{{ url_for('static', filename='user resources/profile - 1.png') }}" alt="profile pic">
            <a class="box-teamname box-text-animation" href="#">东方不败</a>
          </div>
          <div>
            <h5 class="box-total-likes">100</h5>
            <img class="box-icon-img" src="{{ url_for('static', filename='resources/discover - heart.png') }}" alt="love icon">
          </div>
        </div>
      </div>
    </div>

    <div class="box" data-scroll>
      <!-- Gonna link here to the project page -->
      <div class="box-img-main">
        <a href="#" >
          <img src="{{ url_for('static', filename='user resources/project - 1.jpg') }}" alt="picture 1">
          <!-- TODO: Maybe add image overlay and scale effect -->
        </a>
        <i class="fas fa-heart heart-vector"></i>
      </div>
      <div class="box-body">
        <a href="#" class="box-title box-text-animation">很厉害的作品名字</a>
        <div class="box-info-sub">
          <h5 class="box-teammates">黄明志，周杰伦</h5>
          <h5 class="box-date">2021年4月10日</h5>
        </div>
        <div class="box-info-main">
          <div>
            <img class="box-icon-img" src="{{ url_for('static', filename='user resources/profile - 1.png') }}" alt="profile pic">
            <a class="box-teamname box-text-animation" href="#">东方不败</a>
          </div>
          <div>
            <h5 class="box-total-likes">100</h5>
            <img class="box-icon-img" src="{{ url_for('static', filename='resources/discover - heart.png') }}" alt="love icon">
          </div>
        </div>
      </div>
    </div>

    <div class="box" data-scroll>
      <!-- Gonna link here to the project page -->
      <div class="box-img-main">
        <a href="#" >
          <img src="pictures/project picture 2.jpg" alt="picture 1">
          <!-- TODO: Maybe add image overlay and scale effect -->
        </a>
        <i class="fas fa-heart heart-vector"></i>
      </div>
      <div class="box-body">
        <a href="#" class="box-title box-text-animation">很厉害的作品名字</a>
        <div class="box-info-sub">
          <h5 class="box-teammates">黄明志，周杰伦</h5>
          <h5 class="box-date">2021年4月10日</h5>
        </div>
        <div class="box-info-main">
          <div>
            <img class="box-icon-img" src="{{ url_for('static', filename='user resources/profile - 2.png') }}" alt="profile pic">
            <a class="box-teamname box-text-animation" href="#">西汉</a>
          </div>
          <div>
            <h5 class="box-total-likes">100</h5>
            <img class="box-icon-img" src="{{ url_for('static', filename='resources/discover - heart.png') }}" alt="love icon">
          </div>
        </div>
      </div>
    </div>

    <div class="box" data-scroll>
      <!-- Gonna link here to the project page -->
      <div class="box-img-main">
        <a href="#" >
          <img src="pictures/project picture 1.jpg" alt="picture 1">
          <!-- TODO: Maybe add image overlay and scale effect -->
        </a>
        <i class="fas fa-heart heart-vector"></i>
      </div>
      <div class="box-body">
        <a href="#" class="box-title box-text-animation">很厉害的作品名字</a>
        <div class="box-info-sub">
          <h5 class="box-teammates">黄明志，周杰伦</h5>
          <h5 class="box-date">2021年4月10日</h5>
        </div>
        <div class="box-info-main">
          <div>
            <img class="box-icon-img" src="{{ url_for('static', filename='user resources/profile - 1.png') }}" alt="profile pic">
            <a class="box-teamname box-text-animation" href="#">东方不败</a>
          </div>
          <div>
            <h5 class="box-total-likes">100</h5>
            <img class="box-icon-img" src="{{ url_for('static', filename='resources/discover - heart.png') }}" alt="love icon">
          </div>
        </div>
      </div>
    </div>

    {# REAL DATA ---------------------------------------------------------------------------------------- #}
    {% for project in projects.items %}
      <div class="box" data-scroll>
        <div class="box-img-main">
          <a href="{{ url_for('project.post', id=project.id) }}" >
            <img src="{{ url_for('static', filename='user resources/' + project.project_pic1) }}" alt="picture 1">
            <!-- TODO: Maybe add image overlay and scale effect -->
          </a>
          {% if current_user.is_authenticated %}
            {% if project in current_user.liked_projects  %}
              <i class="fas fa-heart heart-vector active" onclick="updateLike(this, {{ project.id }})"></i>
            {% else %}
              <i class="fas fa-heart heart-vector" onclick="updateLike(this, {{ project.id }})"></i>
            {% endif %}
          {% else %}
            <i class="fas fa-heart heart-vector" onclick="location.href='{{ url_for('user.login') }}'"></i>
          {% endif %}
        </div>
        <div class="box-body">
          <a href="{{ url_for('project.post', id=project.id) }}" class="box-title box-text-animation">{{ project.project_name }}</a>
          <div class="box-info-sub">
            <h5 class="box-teammates">{{ project.teammates }}</h5>
            <h5 class="box-date">{{ project.publish_time.strftime("%Y年%m月%d日") }}</h5>
          </div>
          <div class="box-info-main">
            <div>
              <img class="box-icon-img" src="{{ url_for('static', filename='resources/user avatars/' + project.publisher.user_avatar) }}" alt="profile pic">
              <a class="box-teamname box-text-animation" href="{{ url_for('project.post', id=project.id) }}">{{ project.publisher.username }}</a>
            </div>
            <div>
              <h5 class="box-total-likes">{{ project.get_liked_count() }}</h5>
              <img class="box-icon-img" src="{{ url_for('static', filename='resources/discover - heart.png') }}" alt="like icon">
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>


  <!-- divider and footer ------------------------------------------------------- -->
  <div class="pagination-line"></div>
  <!-- Footer navigation bar -->
  <div class="post-navigation">
    <ul>
      {% if projects.has_prev %}
      <li><a href="{{ url_for('main.discover', page=projects.page - 1) }}"><i class="fas fa-angle-left"></i> 上一页</a></li>
      {% else %}
      <li><a href="#" class="disabled"><i class="fas fa-angle-left"></i> 上一页</a></li>
      {% endif %}

      {% for page_num in projects.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if projects.page == page_num %}
            <li><a href="{{ url_for('main.discover', page=page_num) }}" class="active">{{ page_num }}</a></li>
          {% else %}
            <li><a href="{{ url_for('main.discover', page=page_num) }}">{{ page_num }}</a></li>
          {% endif %}

        {% else %}
        <li><a href="#">...</a></li>
        {% endif %}
      {% endfor %}

      {% if projects.has_next %}
      <li><a href="{{ url_for('main.discover', page=projects.page + 1) }}">下一页 <i class="fas fa-angle-right"></i></a></li>
      {% else %}
      <li><a href="#" class="disabled">下一页 <i class="fas fa-angle-right"></i></a></li>
      {% endif %}
    </ul>
  </div>

{% include 'general footer.html' %}

  <script>
    ScrollOut();


    // Ajax call ------------------------------------------------------------------------------------
    function updateLike(event, project_id) {
      // Ajax call
      fetch(`{{ url_for('project.toggle_like') }}/${project_id}`).then(function (response) {
        return response.text();
      }).then(function (text){
        console.log(text);
        // TODO: Do something here
      })

      // Instant feedback
      const likeCount = event.parentNode.parentNode.querySelector('.box-total-likes');
      const likeBtn = event;

      if (likeBtn.classList.contains('active')) {
        likeCount.innerHTML--;
      }
      else {
        likeCount.innerHTML++;
      }

      likeBtn.classList.toggle('active');
      // TODO: Add flush message here
    }

    // Parallax effect for background -------------------------------------------------------------------------------
    document.addEventListener("mousemove", parallex);
    function parallex(e) {
      const obj = this.querySelector("#discover-background");
      const speed = 3;  // Maybe randomize speed ?
      const x = (window.innerWidth - e.pageX * speed) / 100;
      const y = (window.innerHeight - e.pageY * speed) / 100;

      obj.style.transform = `scale(1.1) translateX(${x}px) translateY(${y}px)`
    }
  </script>
{% endblock %}
