/* TODO: Add media query if possible */

/* top -------------------------------------------------------------------------------- */
.top-page {
  position: relative;
  overflow: hidden;
  height: 60rem;
  width: 100%;
}

.top-page img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

.top-page-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-color: rgba(0,0,0,0.2); /* Black background with opacity */
}


/* Text Effect ------------------------------------------------------------------------ */
.text-typewriter {
  position: absolute;
  z-index: 2;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
}

.text-title {
  font-family: "Kaiti SC Bold", cursive;
  font-size: 8.5rem;
  overflow: hidden;
  border-right: 0.5rem solid rgb(213, 222, 246);
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 1.5rem;
  color: rgba(237, 241, 252, 0.85);
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

.text-title b {
  color: rgba(255, 255, 255, 0.9);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    /* Change the border color here */
    border-color: rgb(117, 152, 247);
  }
}

/* Subtitles and other miscellaneous top page -----------------------------------*/
.text-subtitle {
  position: absolute;
  z-index: 2;
  top: 65%;
  color: #e5e4e4;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(203, 227, 241, 0.43);
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0%);

  opacity: 0;
  animation: 2s ease-in-out slidein;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    transform: translate(-50%, 6rem);
    opacity: 0;
  }
  to   {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.text-top-bottom {
  position: absolute;
  z-index: 2;
  bottom: 5%;
  padding: 0 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #c7c7c7;
}

.text-top-bottom h6 {
  color: rgba(236, 236, 236, 0.6);
}

.text-top-bottom h6 a {
  color: rgba(255, 255, 255, 0.80);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0);
  transition: 0.3s;
}

.text-top-bottom h6 a:hover {
  color: rgba(255, 255, 255, 1);
  border-bottom: 0.1rem solid white;
}

@keyframes slidesmall {
  from {
    transform: translateY(-3rem);
    opacity: 0;
  }
  to   {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-top-bottom-idx1 {
  opacity: 0;
  animation: 2s ease-in-out slidesmall;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.text-top-bottom-idx2 {
  opacity: 0;
  animation: 2s ease-in-out slidesmall;
  animation-delay: 2.7s;
  animation-fill-mode: forwards;
}

.text-top-bottom-idx3 {
  opacity: 0;
  animation: 2s ease-in-out slidesmall;
  animation-delay: 3.4s;
  animation-fill-mode: forwards;
}

/* Grid View ------------------------------------------------------------------ */
.box-layout-grid {
  display: grid;
  margin: 7rem auto;
  padding: 0 4.5rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
  max-width: 150rem;
}

/* Box Design ------------------------------------------------------------------------ */
.box {
  background-color: #FCFCFC;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  /* for animation on revealing */
  position: relative;
  transition: 1.5s;
  opacity: 0;
}

.box:hover {
  transition: 0.1s;
  box-shadow: 0 0 2rem rgba(33, 33, 33, 0.2);
}

.box h5,
.box a {
  font-weight: 300;
  font-size: 1.7rem;
  letter-spacing: 0.09rem;
  color: #484949;
}

.box-body {
  padding: 1rem 2rem;
}

.box-text-animation {
  font-weight: 900 !important;
  color: #252323;
}

.box-text-animation:hover {
  cursor: pointer;
  color: rgb(131, 131, 131);
  transition: 0.3s ease-in-out;
}

/* profile pic and heart icon */
.box-icon-img {
  width: 3rem;
  height: 3rem;
}

.box-info-sub,
.box-info-main {
  display: flex;
  justify-content: space-between;
}

.box-info-main > div {
  display: flex;
  align-items: center;
}

.box-info-main > div:nth-child(1) > img {
  margin-right: 1rem;
}

.box-info-main > div:nth-child(2) > img {
  margin-left: 1rem;
}

.box-info-sub {
  margin: 0.8rem 0 3.4rem 0;
}

/* Image hover things ------------------------------------------------------------ */
.box-img-main {
  /* Could change the theme color later */
  background-color: #e3e3e4;
  overflow: hidden;
  position: relative;
  height: 23vw;
  max-height: 23rem;
}

.box-img-main img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.box-img-main:hover img {
  opacity: 0.7;
}

.heart-vector {
  cursor: pointer;
  position: absolute;
  font-size: 9rem;
  color: rgb(235, 226, 226);
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
  transition-property: opacity, color;
}

.box-img-main:hover .heart-vector {
  opacity: 0.8;
}

.box-img-main:hover .heart-vector:hover {
  color: rgb(228, 33, 33);
  opacity: 0.95;
}

.heart-vector.active {
  color: rgb(199, 53, 53);
}


/* General scroll in effect ------------------------------------------------------- */
[data-scroll] {
  transition: 1s ease-in-out;
}
[data-scroll="in"] {
  opacity: 1;
  transform: translateY(0rem);
}
[data-scroll="out"] {
  opacity: 0;
  transform: translateY(7rem);
}


/* Pagination Footer ------------------------------------------------------------------------------------------------ */
.pagination-line {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0.5rem 0;
  border-bottom: 0.1rem solid rgba(179, 179, 179, 0.5);
}

.post-navigation {
  margin: 3rem 0;
}

.post-navigation > ul {
  display: flex;
  justify-content: center;
}

.post-navigation a {
  color: #6f6f6f;
  padding: 1rem 1.5rem;
  background-color: rgb(222, 222, 222);
  border-radius: 0.5rem;
  margin: 0 1rem;
  transition: 0.4s;
  font-weight: 400;
  font-size: 1.8rem;
}

.post-navigation a:hover {
  background-color: #b37575;
  color: white;
}

.post-navigation a.active {
  background-color: #A52A2A;
  color: white;
}

.post-navigation a.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}

