@import url("https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap");

:root {
    --theme-color: #53daea;
    --success: #4cf695;
    --danger: #ec3423;
    --info: #3a9bde;
    --warning: #f8ce2d;
    --main: #414141;
    --height: 5rem;
    --icon-size: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
  font-size: 2.2rem;
  font-family: "apercu", sans-serif;
  font-weight: 300;
  background-color: #f6f6f6;
}

/* General Effect ------------------------------------------------------------------------ */
.gen-hover {
  transition: 0.4s;
}

.gen-hover:hover {
  color: black;
  background-color: rgb(250, 243, 243);
  box-shadow: 0 0 2.5rem var(--theme-color);
}

.txt-hover {
  transition: 0.4s;
}

.txt-hover:hover {
  color: var(--theme-color);
}

.txt-hover.active {
  color: var(--theme-color);
  pointer-events: none;
}

/* Main Layout -------------------------------------------------------------------------------- */
.main-layout {
  background-image: var(--main-background-url);;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.main-logo {
  width: 30rem;
  cursor: pointer;
}

.navbar {
  width: 85%;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-border {
  font-family: "Kaiti SC Bold", cursive;
  font-weight: 900;
  font-size: 2.2rem;
  color: #fcfdfd;
  padding: 1rem 2.5rem;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 2rem;
  outline: none;
  cursor: pointer;
}

.btn-red {
  border: 1px solid rgb(255, 65, 65);
  color: rgb(255, 65, 65);
}

.btn-red:hover {
  color: black;
  background-color: rgb(255, 65, 65);
  box-shadow: 0 0 2.5rem rgb(255, 65, 65);
}

.content {
  font-family: "Kaiti SC Bold", cursive;
  color: #fbfcfd;;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2;
}

.content small {
  color: #ecf0f5;
  font-size: 2.5rem;
}

.content h1 {
  font-size: 6.5rem;
  margin: 0rem 0 8rem;
}

.side-bar {
  height: 100vh;
  width: 7rem;
  background: linear-gradient(#0f6379, #020b36);
  position: absolute;
  right: 0;
  top: 0;
}

.menu-btn {
  display: block;
  width: 3.5rem;
  margin: 6.5rem auto 0;
  cursor: pointer;
}

.social-links {
  width: 7rem;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.other-links {
  width: 7rem;
  text-align: center;
  position: absolute;
  bottom: 3rem;
}

.social-links img,
.other-links img {
  width: 4rem;
  margin: 1rem auto;
  cursor: pointer;
}

/* Bubbles animation ---------------------------------------------------- */
.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -7rem;
}

.bubbles img {
  width: 5rem;
  animation: bubble-float 7s ease-in-out infinite;
}

@keyframes bubble-float {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1) {
  animation-delay: 1.3s;
  width: 2.5rem;
}

.bubbles img:nth-child(2) {
  animation-delay: 3s;
}
.bubbles img:nth-child(3) {
  animation-delay: 5.6s;
  width: 2.2rem;
}
.bubbles img:nth-child(4) {
  animation-delay: 3.4s;
}
.bubbles img:nth-child(5) {
  width: 2.1rem;
  animation-delay: 2.4s;
}
.bubbles img:nth-child(6) {
  animation-delay: 6.5s;
}
.bubbles img:nth-child(7) {
  animation-delay: 4.6s;
  width: 3.9rem;
}

/* General, fixed Header ---------------------------------------------------------------------------- */
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  height: 7rem;
  padding: 0 1.6rem;
  background: #FCFCFC;
}

.main-header-left {
  display: flex;
  align-items: center;
}

.main-header-left img {
  height: 100%;
  width: auto;
}

.search-form {
  margin-left: 4rem;
}

.search-form label {
  position: absolute;
  transform: translate(0.2rem, 1.4rem);
  z-index: 1;
  opacity: 0.4;
  font-size: 1.5rem;
}

.search-box {
  height: 4.5rem;
  width: 40vw;
  background: #EEEEEE;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  border-radius: 2rem;
  padding: 1rem 2rem 1rem 4rem;
  transform: translateX(-1.5rem);

  transition: 0.4s;
  transition-property: border, background-color;
}

.search-box:hover {
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
}

.search-box:focus {
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
  background-color: #f8f8f8;
}

.main-header-right {
  display: flex;
  align-items: center;
}

.main-square-btn {
  color: #444343;
  font-weight: 900;
  border: 0.2rem solid #d1d1d1;
  text-align: center;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;

  transition: 0.3s;
  transition-property: border, background-color;
}

.main-square-btn:hover {
  border: 0.2rem solid #999999;
  background-color: #eeeeee;
}

.horizontal-divider {
  height: 2.5rem;
  margin: 0 2rem;
  opacity: 0.2;
  border: 0.1rem solid black;
}

.main-square-sub {
  color: #444343;
  border: none;
  font-weight: 900;
  opacity: 0.75;
  font-size: 1.6rem;
  margin-right: 1.6rem;

  transition: 0.3s;
  transition-property: opacity;
}

.main-square-sub:hover {
  opacity: 1;
}

.main-square-btn.main {
  border: none;
  color: white;
  background-color: #3DB46E;
}

.main-square-btn.main:hover {
  background-color: #317d50;
}

.main-square-btn.danger {
  border: none;
  color: white;
  background-color: #F34436;
}

.main-square-btn.danger:hover {
  background-color: #ba3d31;
}


/* For General Footer -------------------------------------------------------------------- */
footer {
  background: #FCFCFC;
}

.footer-container {
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.footer-list-title {
  margin-top: 3rem;
  margin-bottom: 2rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
}

.footer-list-item > a {
  color: rgb(129, 128, 128);
  font-size: 1.5rem;
  letter-spacing: 0.03rem;
  opacity: 0.6;
  margin-bottom: 0.8rem;
  transition: 0.3s;
}

.footer-list-item:hover > a {
  opacity: 1;
}

/* footer info ------------------------------------ */
.footer-info {
  padding: 2rem 3rem 4rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-info-left > .footer-list {
  display: flex;
}

.footer-info-left > .footer-list > .footer-list-item {
  margin-right: 3rem;
}

.footer-info-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* copyright reserve -------------------------------------------- */
.copyright {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.1rem;
}

.copyright > a {
  opacity: 0.6;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
  transition: 0.3s;
}

.copyright > a:hover {
  opacity: 1;
}

/* design the alert box-------------------------------------------------------------------------------------- */
#alert-box {
    position: fixed;
    width: 100%;
    top: 10rem;
    direction: rtl;
    padding: 1rem;
    overflow: hidden;
    z-index: 100000;
    transition: height 300ms;
}

.alert {
    position: relative;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 0;
    max-width: 40rem;
    margin-bottom: 1rem;
    background-color: #f6f6f6;
    opacity: 1;
    padding: 0 1.2rem;
    border-radius: 1.1rem;
    box-shadow: 0 0.9rem 3.5rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: opacity 200ms, height 200ms, padding 200ms;
}

.alert::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    animation: border 4s forwards linear;
}

.alert.alert-active {
    opacity: 1;
    height: var(--height);
}

.alert.alert-closing {
    height: var(--height);
    transform: translateX(-100px);
    opacity: 0;
    transition: opacity 300ms 200ms, transform 500ms;
}

.alert.alert-success::before {
    background-color: var(--success);
}

.alert.alert-danger::before {
    background-color: var(--danger);
}

.alert.alert-warning::before {
    background-color: var(--warning);
}

.alert.alert-info::before {
    background-color: var(--info);
}

.alert-content {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.8rem;
}

.alert-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    margin-left: 0.8rem;
}

.alert-success .alert-icon {
    background: url(/static/resources/icons/035-checked.png) no-repeat center / cover;
}

.alert-warning .alert-icon {
    background: url(/static/resources/icons/050-idea.png) no-repeat center / cover;
}

.alert-danger .alert-icon {
    background: url(/static/resources/icons/045-minus.png) no-repeat center / cover;
}

.alert-info .alert-icon {
    background: url(/static/resources/icons/029-information.png) no-repeat center / cover;
}

.alert-dismiss {
    width: 32px;
    height: 32px;
    background: url(/static/resources/icons/059-cancel.png) no-repeat center / 60%;
    cursor: pointer;
}

@keyframes border {
    100% {
        width: 100%;
    }
}