/* form section ------------------------------------------------------------------------ */
.form-container {
  background-color: #f1f1f1;
  max-width: 60rem;
  margin: 15rem auto 10rem;
  padding:3rem;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.4rem 3rem 1rem rgba(112, 112, 112, 0.329);
}

.form-container > h3 {
  color: rgb(82, 82, 82);
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: 0.05rem;
  margin-bottom: 3rem;
}

/* General Form style ---------------------------------------- */
.form-group {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.form-group > label {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.form-group > input, .form-group > textarea  {
  font-size: 1.8rem;
  padding: 1.5rem 2rem;
  border-radius: 1.9rem;
  border: none;
  transition: 0.4s;
}

.form-group > textarea {
  max-width: 100%;
  min-width: 100%;
}

.form-group > input:focus, .form-group > textarea:focus {
  background-color:  rgb(223, 223, 223);
}

.form-group > input[type=submit] {
  margin-top: 3rem;
  font-size: 2rem;
  background-color: rgb(37, 169, 192);
  color: white;
  cursor: pointer;
}

.form-group > input[type=submit]:hover {
  background-color: rgb(54, 209, 248);
}

.form-navigate {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.form-navigate > a {
  color: rgb(35, 46, 201);
}

.form-navigate > a:hover {
  text-decoration: underline;
}


/* Avatar form -------------------------------------------------------------------------------- */
.form-avatars {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.avatars > input{
  display: none;
}

.avatars > input + img{
  width: 100%;
  height: auto;
  cursor: pointer;
  border: 0.2rem solid transparent;
  transition: border 0.3s;
}

.avatars > input:checked + img{
  border: 0.2rem solid rgb(95, 99, 95);
}

/* project pictures --------------------------------------------------------------------------------*/
.form-pictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4%;
  margin-bottom: 2rem;
}

.form-picture {
  display: flex;
  flex-direction: column;
}

input[type='file'] {
  display: none;
}

.form-toggle-group {
  display: flex;
  justify-content: center;
}

.file-upload, .file-remove {
  border: 0.1rem solid #ccc;
  background-color: rgb(250, 249, 249);
  border-radius: 2rem;
  display: inline-block;
  padding: 1.2rem 2rem;
  cursor: pointer;
  font-size: 1.6rem;
  margin: 0 1rem 1rem;

  transition: 0.4s;
  transition-property: background-color, color;
}

.file-upload:hover {
  color: white;
  background-color:green;
}

.file-remove:hover {
  color: white;
  background-color: #db4a29;
}

.form-picture img {
  width: 100%;
  object-fit: cover;
}

.form-hidden-input {
  display: none;
}